// Colors

$primaryColor: #fff;
$secondaryColor: #000;
$tertiaryColor: #cacaca;

// Margins, Paddings ...

$padding: 15px;
$margin: $padding;
$borderRadius: 5px;

// Fonts

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Amatic SC', cursive;

// Media Queries

$mobile: 480px;
$tablet: 768px;
$desktop: 1170px;